{% extends 'base.html' %}

{% load static %}

{% block title %} {{view.page_title}} {% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-4">{{view.page_title}}</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for restaurant in restaurants %}
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <a href="{% url 'restaurant-detail' restaurant.id %}">
                    {% if restaurant.photos.first %}
                        <img src="{{ restaurant.photos.first.image.url }}" alt="{{ restaurant.title }}" class="w-full h-56 object-cover">
                    {% else %}
                        <img src="{% static 'hotel-default.jpg' %}" alt="{{ restaurant.title }}" class="w-full h-56 object-cover">
                    {% endif %}

                    <div class="p-4">
                        <h3 class="text-xl font-bold mb-2">{{ restaurant.title }}</h3>
                        <p class="text-gray-700">Rating: {{ restaurant.rating }}</p>
                        <p class="text-gray-700">Cost for Two: {{ restaurant.cost_for_two }}</p>
                        <p class="text-gray-700">{{ restaurant.location }}</p>
                        <p class="text-gray-700">{{ restaurant.address }}</p>
                        <a href="{% url 'restaurant-detail' restaurant.id %}" class="block mt-2 text-blue-500 hover:text-blue-700">View Details</a>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>No spotlight restaurants found.</p>
        {% endfor %}
    </div>
{% endblock %}
